@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@layer utilities {
  .bg-darkGray {
    background: linear-gradient(
      45deg,
      rgba(81, 91, 212, 0.7) 14.61%,
      rgba(149, 55, 176, 0.7) 39.38%,
      rgba(221, 42, 123, 0.7) 58.49%,
      rgba(250, 173, 79, 0.7) 85.39%
    );
  }
  .nav-bg {
    background: linear-gradient(
      45deg,
      rgba(250, 173, 79, 0.7) 14.61%,
      rgba(221, 42, 123, 0.7) 39.38%,
      rgba(149, 55, 176, 0.7) 58.49%,
      rgba(81, 91, 212, 0.7) 85.39%
    );
  }
  .primary {
    color: rgba(1, 124, 212, 1) !important;
  }
}

.text-outline {
  -webkit-text-stroke: 1px black;
  font-family: Arimo;
  font-weight: 700;
  font-size: 66px;
  line-height: 100%;
  letter-spacing: 0px;
  text-transform: capitalize;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


.text-outline-h1 {
  -webkit-text-stroke: 1px black;
  font-family: Arimo;
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0px;
  text-transform: capitalize;  
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    
}

.text-outline-h2 {
  -webkit-text-stroke: 1px black;
  font-family: Arimo;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: 0px;
  text-transform: capitalize;
  
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

